{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Beveiligde tijdelijke opslag in Rhinoboxen, uniek in Vlaanderen!</title>
    <meta name="description" content="Wij halen uw volle Rhinoboxen op, bewaren deze voor u op een veilige locatie en leveren deze op aanvraag. Handig bij verhuizingen, populair bij ondernemingen.">
  {{/replace}}

  {{#replace "main"}}

    <main id="opslag">

      <section id="hero">
        <div class="inner">
          <h2><em>Opslag</em>Hoe het werkt</h2>
          <ul>
            <li>
              <h3>1</h3>
              <div class="verhuis-step-1"></div>
              <p>Wij leveren de Rhinoboxen bij u thuis, op een tijdstip dat u uitkomt.</p>
            </li>
            <li>
              <h3>2</h3>
              <div class="verhuis-step-2"></div>
              <p>U vult de Rhinoboxen met uw spullen en u verhuist naar uw nieuwe thuis.</p>
            </li>
            <li>
              <h3>3</h3>
              <div class="verhuis-step-3"></div>
              <p>Zodra u klaar bent halen wij de lege dozen weer op.</p>
            </li>
          </ul>
        </div>
      </section>

      <section id="feature">
        <div class="inner">

        </div>
      </section>

      <section id="prijzen">
        <div class="inner">

        </div>
      </section>

    </main>

  {{/replace}}
{{/extend}}
