{{#extend "layout"}}
  {{#replace "main"}}

    <main id="opslag">

      <section id="hero">
        <div class="inner">
          <h2>Opslag</h2>
        </div>
      </section>

    </main>

  {{/replace}}
{{/extend}}
