// COMMON ACROSS ALL PAGES
body {
  min-width: 320px;
  height: 100%;
  font-family: $font-stack-open;
  font-size: 19px;
  font-weight: $light;
  line-height: 100%;
  color: $rhino-graphite;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-family: $font-stack-artz;
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  margin: 0;
}
h2 {
  font-family: $font-stack-artz;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  margin: 0;
}
h3 {
  font-family: $font-stack-artz;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  margin: 0;
}
p {
  line-height: 26px;
  strong {
    font-weight: $regular;
  }
}
a {
  color: $rhino-orange-2;
  &:hover {
    text-decoration: none;
    color: $rhino-orange-1;
  }
}
button,
a.button {
  position: relative;
  display: inline-block;
  font-family: $font-stack-artz;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  background: $rhino-orange-1;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 1px RGBA(0, 0, 0, 0.2);
  outline: 0;
  border: 0;
  padding: 2px 22px 0;
  @include box-shadow(0 3px 0 0 $rhino-orange-2);
  @include border-radius(5px);
  @include prevent-user-select;
  &.small {
    font-size: 28px;
    line-height: 38px;
    padding: 3px 20px 0;
  }
  &:hover {
    background: lighten($rhino-orange-1, 7%);
    @include box-shadow(0 3px 0 0 lighten($rhino-orange-2, 7%));
  }
  &:active {
    margin-top: 2px;
    @include box-shadow(0 1px 0 0 lighten($rhino-orange-2, 7%));
  }
}
img {
  display: block;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin: 0;
  }
}
header,
footer,
section {
  position: relative;
  overflow: hidden;
  .inner {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
    @include border-box;
  }
}
header {
  h1 {
    a {
      img {
        display: inline-block;
        padding: 20px 20px 10px;
        margin-top: 10px;
      }
    }
  }
  nav {
    text-align: center;
    ul {
      display: inline-block;
      margin: 0 auto;
      &:after {
        @include clearfix;
      }
      li {
        float: left;
        a {
          padding: 4px 6px;
          font-size: 19px;
          color: $rhino-graphite;
          text-decoration: none;
          &:hover {
            color: $rhino-blue;
          }
        }
      }
    }
  }
  .callout {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: 100px;
    padding: 0 10px 2px;
    background: $rhino-blue;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: white;
    @include border-radius(2px);
    &:after {
      content: " ";
      position: absolute;
      left: -8px;
      top: 6px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 8px 5px 0;
      border-color: transparent $rhino-blue transparent transparent;
    }
  }
}
footer {
  .inner {
    padding: 50px 20px 40px;
    text-align: center;
    a {
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
.polaroid {
  img {
    border: 12px solid #fff;
    background: #d7d7d7;
    @include box-shadow(0 2px 4px RGBA(0, 0, 0, 0.2));
    @include border-radius(1px);
  }
}
#temp {
  position: fixed;
  left: 50%;
  top: 50%;
  text-align: center;
  margin-left: -70px;
  margin-top: -142px;
}

// LANDING PAGE ONLY
#landing {
  #hero {
    .inner {
      height: 920px;
      padding-top: 44px;
      text-align: center;
      img {
        display: block;
        position: absolute;
        left: 50%;
        top: 160px;
        margin-left: -283px;
      }
      h2 {
        position: absolute;
        left: 50%;
        top: 300px;
        margin-left: 250px;
        @include transform-origin(0% 50%);
        @include perspective(1200px);
        perspective-origin: 0;
        span {
          display: block;
          font-size: 40px;
          line-height: 48px;
          text-align: left;
          @include transform-origin(0% 50%);
          @include backface-visibility(hidden);
          @include transform(translate3d(0, 0, 0));
          @include transform-style(preserve-3d);
          &.small {
            font-size: 20px;
            margin-top: 20px;
          }
        }
      }
    }
  }
  #over-rhinoboxen {
    background: #eee url("../img/bg.png");
    overflow: hidden;
    .bg {
      position: absolute;
      left: 55%;
      top: 50%;
      margin-left: -110px;
      margin-top: -360px;
    }
    .inner {
      position: relative;
      padding: 220px 20px 170px 60px;
      h2 {
        max-width: 380px;
        margin-bottom: 40px;
        text-shadow: 1px 1px 0 #fff;
      }
      p {
        max-width: 380px;
        text-shadow: 1px 1px 0 #fff;
      }
    }
  }
  #hoe-het-werkt {
    .inner {
      padding: 120px 20px;
      text-align: center;
      border-bottom: $dashed-line;
      h2 {
        margin: 0 0 94px;
        font-size: 48px;
      }
      ul {
        width: 900px;
        margin: 0 auto;
        &:after {
          @include clearfix;
        }
        li {
          float: left;
          width: 300px;
          padding: 0 30px;
          @include border-box;
          h3 {
            width: 52px;
            height: 52px;
            margin: 0 auto;
            border: 2px solid #ccc;
            @include border-radius(100px);
            @include border-box;
            line-height: 52px;
            color: #ccc;
          }
          div {
            margin: 44px auto;
            background-position: 0 100%;
            background-repeat: no-repeat;
            &.verhuis-step-1 {
              width: 34px;
              height: 58px;
              padding-top: 4px;
              background-image: url("../img/verhuis-stap-1.svg");
              background-size: 34px 58px;
              .no-svg & {
                background-image: url("../img/verhuis-stap-1.png");
              }
            }
            &.verhuis-step-2 {
              width: 104px;
              height: 50px;
              padding-top: 12px;
              background-image: url("../img/verhuis-stap-2.svg");
              background-size: 104px 50px;
              .no-svg & {
                background-image: url("../img/verhuis-stap-2.png");
              }
            }
            &.verhuis-step-3 {
              width: 115px;
              height: 62px;
              background-image: url("../img/rhino.svg");
              background-size: 115px 62px;
              .no-svg & {
                background-image: url("../img/rhino.png");
              }
            }
          }
        }
      }
      button {
        margin-top: 80px;
      }
    }
  }
  #ideaal-voor-verhuis {
    margin: 160px 0;
    min-height: 578px;
    .inner {
      position: relative;
      padding-right: 20px;
      padding-left: 360px;
      max-width: 760px;
      h2 {
        margin-bottom: 26px;
      }
      p {
        button {
          margin-top: 41px;
        }
      }
      .polaroid {
        position: absolute;
        left: 30px;
        top: 0;
        &.two {
          top: 295px;
          @include transform(translateX(6px));
        }
      }
    }
  }
  #geen-karton-meer {
    margin: 160px 0;
    .inner {
      position: relative;
      padding-right: 20px;
      padding-left: 360px;
      max-width: 760px;
      min-height: 272px;
      h2 {
        margin-bottom: 26px;
      }
      .polaroid {
        position: absolute;
        left: 30px;
        top: 0;
        @include transform(rotate(2deg) translateX(-3px) translateY(7px));
      }
    }
  }
  #testimonials {
    background: $rhino-brown-1 url("../img/rhino-bg.jpg");
    background-size: cover;
    background-position-y: 100%;
    color: #fff;
    text-align: center;
    .inner {
      padding: 440px 20px 180px;
      ul {
        text-align: center;
        li {
          position: relative;
          display: inline-block;
          width: 130px;
          height: 130px;
          margin: 15px;
          background-size: 130px 130px;
          background-color: #fff;
          background-repeat: no-repeat;
          border: 4px solid #fff;
          @include border-radius(200px);
          &:nth-child(1) {
            background-image: url("../img/avatar-1.jpg");
            blockquote {
              left: 140px;
              span {
                left: 37%;
              }
            }
          }
          &:nth-child(2) {
            background-image: url("../img/avatar-2.jpg");
          }
          &:nth-child(3) {
            background-image: url("../img/avatar-3.jpg");
          }
          &:nth-child(4) {
            background-image: url("../img/avatar-4.jpg");
          }
          &:nth-child(5) {
            background-image: url("../img/avatar-5.jpg");
            blockquote {
              left: 10px;
              span {
                left: 60%;
              }
            }
          }
          &:hover {
            cursor: pointer;
          }
          blockquote {
            position: absolute;
            width: 560px;
            left: 50%;
            bottom: 170px;
            margin: 0 0 0 -280px;
            background: #fff;
            color: $rhino-graphite;
            text-align: left;
            padding: 30px;
            font-size: 26px;
            line-height: 36px;
            @include border-radius(3px);
            @include border-box;
            cursor: default;
            cite {
              display: block;
              line-height: 20px;
              font-size: 16px;
              font-style: normal;
              margin-top: 20px;
            }
            span {
              position: absolute;
              width: 0;
              height: 0;
              bottom: -30px;
              left: 50%;
              margin-left: -30px;
              border-style: solid;
              border-width: 30px 30px 0 30px;
              border-color: #fff transparent transparent transparent;
            }
          }
        }
      }
    }
  }
  #prijs {
    .inner {
      padding: 120px 0;
      border-bottom: $dashed-line;
      h2 {
        margin-bottom: 110px;
        text-align: center;
      }
      h3 {
        font-family: $font-stack-open;
        font-size: 24px;
        font-weight: $light;
        margin: 24px 0 10px;
      }
      &:after {
        @include clearfix;
      }
      .left {
        float: left;
        width: 640px;
        .parameters {
          padding: 30px;
          background: #f6f6f6;
          >div {
            position: relative;
            p {
              line-height: 50px;
              margin: 0;
            }
            .field {
              position: absolute;
              right: 0;
              top: 0;
              input {
                width: 120px;
                margin: 0 31px 0 32px;
                padding: 0;
                outline: 0;
                line-height: 40px;
                text-align: center;
                border: 1px solid #ccc;
                @include border-radius(3px);
              }
              button {
                position: absolute;
                top: -2px;
                padding: 4px 0 0;
                line-height: 37px;
                width: 30px;
                &.next {
                  right: 0;
                }
              }
              .result {
                position: absolute;
                left: 100px;
                top: 10px;
                margin-left: 70px;
                padding: 0 10px 2px;
                background: $rhino-blue;
                font-size: 15px;
                line-height: 20px;
                font-weight: 400;
                color: white;
                @include border-radius(2px);
                text-transform: lowercase;
                white-space: nowrap;
              }
              .aantal {
                &:after {
                  @include clearfix;
                }
                input {
                  float: left;
                  height: 40px;
                  text-align: center;
                  font-size: 20px;
                }
                button {
                  float: left;
                }
              }
              .postcode {
                position: relative;
              }
              .button {
                .rhino {
                  position: absolute;
                  left: -150px;
                  bottom: -5px;
                  width: 117px;
                  height: 63px;
                  background: url("../img/rhino.svg") no-repeat;
                  background-size: 117px 63px;
                }
              }
            }
          }
        }
        .preview {
          padding: 2px;
          margin: 10px 0;
          &:after {
            @include clearfix;
          }
          .box {
            float: left;
            width: 60px;
            height: 40px;
            margin: 2px;
            background: url("../img/blauwe-doos.svg") no-repeat;
            background-size: 61px 32px;
            color: #fff;
            line-height: 34px;
            text-align: center;
            .no-svg & {
              background-image: url("../img/blauwe-doos.png");
            }
          }
        }
      }
      .right {
        float: right;
        width: 390px;
        ul {
          li {
            width: 100%;
            p {
              line-height: 32px;
              font-size: 19px;
              margin: 0;
              &.label {
                float: left;
                max-width: 280px;
                &.total {
                  font-size: 34px;
                  font-family: $font-stack-artz;
                  margin-top: 4px;
                }
                &.small {
                  font-size: 15px;
                }
              }
              &.price {
                float: right;
                text-align: right;
                font-size: 26px;
                font-family: $font-stack-artz;
                &.total {
                  font-size: 40px;
                }
                &.small {
                  font-size: 18px;
                  text-decoration: line-through;
                }
              }
            }
            hr {
              border: 0;
              width: 100%;
              height: 1px;
              margin: 30px 0;
              background: #ccc;
            }
            &:after {
              @include clearfix;
            }
          }
        }
        .button {
          width: 100%;
          margin: 50px 0;
          padding: 2px 0 0;
          text-align: center;
        }
      }
    }
  }
}