// OPSLAG PAGE ONLY

#opslag {
  #hero {
    .inner {
      width: 900px;
      margin-top: 62px;
      padding: 0 0 200px;
      text-align: center;
      border-top: $dashed-line;
      h2 {
        margin: 94px 0;
        font-size: 30px;
        em {
          display: block;
          font-size: 40px;
          margin-bottom: 15px;
          font-style: normal;
        }
      }
      ul {
        width: 900px;
        margin: 0 auto;
        &:after {
          @include clearfix;
        }
        li {
          float: left;
          width: 300px;
          padding: 0 30px;
          @include border-box;
          h3 {
            width: 52px;
            height: 52px;
            margin: 0 auto;
            border: 2px solid #CCC;
            @include border-radius(100px);
            @include border-box;
            line-height: 52px;
            color: #CCC;
          }
          div {
            margin: 44px auto;
            background-position: 0 100%;
            background-repeat: no-repeat;
            &.verhuis-step-1 {
              width: 34px;
              height: 58px;
              padding-top: 4px;
              background-image: url(../img/verhuis-stap-1.svg);
              background-size: 34px 58px;
              .no-svg & {
                background-image: url(../img/verhuis-stap-1.png);
              }
            }
            &.verhuis-step-2 {
              width: 104px;
              height: 50px;
              padding-top: 12px;
              background-image: url(../img/verhuis-stap-2.svg);
              background-size: 104px 50px;
              .no-svg & {
                background-image: url(../img/verhuis-stap-2.png);
              }
            }
            &.verhuis-step-3 {
              width: 115px;
              height: 62px;
              background-image: url(../img/rhino.svg);
              background-size: 115px 62px;
              .no-svg & {
                background-image: url(../img/rhino.png);
              }
            }
          }
        }
      }
    }
  }
}