// SHARED ACROSS ALL PAGES

body {
  min-width: 320px;
  height: 100%;
  font-family: $font-stack-open;
  font-size: 19px;
  font-weight: 300;
  line-height: 100%;
  color: $rhino-graphite;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: $font-stack-artz;
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: $font-stack-artz;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  margin: 0;
}

p {
  line-height: 26px;
}

a {
  &.button {
    display: inline-block;
    font-family: $font-stack-artz;
    font-size: 32px;
    font-weight: 400;
    line-height: 100%;
    padding: 7px 20px 5px;
    background: $rhino-orange-1;
    color: #FFF;
    text-decoration: none;
    text-shadow: 0 1px 1px RGBA(0, 0, 0, 0.2);
    @include box-shadow(0 3px 0 0 $rhino-orange-2);
    @include border-radius(5px);
    @include prevent-user-select;
    &:hover {}
  }
}

header,
footer,
section {
  position: relative;
  .inner {
    width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
    @include border-box;
  }
}

header {
  h1 {
    a {
      img {
        padding: 20px 20px 10px 20px;
        margin-top: 10px;
        &:hover {}
      }
    }
  }
  nav {
    text-align: center;
    ul {
      display: inline-block;
      margin: 0 auto;
      &:after {
        @include clearfix;
      }
      li {
        float: left;
        a {
          padding: 4px 6px;
          font-size: 19px;
          color: $rhino-graphite;
          text-decoration: none;
          &:hover {
            color: $rhino-blue;
          }
        }
      }
    }
  }
  .callout {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: 100px;
    padding: 0 10px 2px;
    background: $rhino-blue;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: white;
    @include border-radius(2px);
    &:after {
      content: " ";
      position: absolute;
      left: -8px;
      top: 6px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 8px 5px 0;
      border-color: transparent $rhino-blue transparent transparent;
    }
  }
}

footer {}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin: 0;
  }
}

#hero {
  .inner {
    padding-top: 34px;
    text-align: center;
    img {
      display: block;
      margin: 22px auto 0;
    }
    h2 {
      position: absolute;
      left: 50%;
      top: 230px;
      margin-left: 250px;
      line-height: 48px;
      text-align: left;
      span {
        display: block;
        margin-top: 30px;
        font-size: 30px;
      }
    }
  }
}

#feature {
  background: #EEE;
  .inner {
    padding: 140px 20px 80px;
    .bg {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 629px;
      height: 631px;
      background: url("../img/rhinobox-top-view.jpg") no-repeat;
    }
    h2 {
      margin-bottom: 40px;
    }
    p {
      max-width: 380px;
      margin-bottom: 40px;
    }
    ul {
      width: 380px;
      &:after {
        @include clearfix;
      }
      li {
        float: left;
        width: 65px;
        height: 65px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 3px solid #FFF;
        background: #CCC;
        @include border-box;
        @include border-radius(3px);
        &:hover {
          background: $rhino-orange-1;
        }
      }
    }
  }
}

#verhuis,
#opslag {
  .inner {
    padding: 160px 20px;
    &:after {
      @include clearfix;
    }
  }
  .cta {
    h2 {
      font-size: 30px;
      em {
        display: block;
        font-size: 72px;
        line-height: 72px;
        font-style: normal;
      }
    }
    .button {
      margin-top: 20px;
      font-size: 32px;
    }
  }
  .image-frame {
    padding: 13px 13px 50px 13px;
    background: #FFF;
    @include box-shadow(0 4px 13px -2px RGBA(0, 0, 0, 0.25));
    @include border-radius(1px);
    img {
      display: block;
    }
  }
}

#verhuis {
  .inner {
    .cta {
      float: left;
      margin-left: 50px;
    }
    .image-frame {
      float: left;
      margin-right: 30px;
    }
  }
}

#opslag {
  .inner {
    border-top: 2px dashed #EAEAEA;
    .cta {
      float: left;
      margin-left: 50px;
    }
    .image-frame {
      float: right;
      margin-left: 30px;
    }
  }
}

#testimonials {
  background: $rhino-brown-1;
  color: #FFF;
  text-align: center;
  .inner {
    padding: 100px 20px;
  }
}

#temp {
  position: fixed;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  text-align: center;
}