// VARIABLES

$font-stack: "Lato", "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

$light: 300;
$normal: 400;
$bold: 700;

$hotdoc-navy: #343B48;
$hotdoc-green: #1EA160;
$hotdoc-light-blue: #3D93D0;

$paragraph-color: #5D626D;