// VARIABLES
$font-stack-artz: "hwt-artz", "HWTArtz", sans-serif;
$font-stack-open: "Open Sans", "OpenSans", sans-serif;
$light: 300;
$regular: 400;
$rhino-graphite: #373737;
$rhino-brown-1: #726658;
$rhino-brown-2: #5b4a42;
$rhino-blue: #5f7dc0;
$rhino-orange-1: #fbaf5d;
$rhino-orange-2: #e49a4a;
$dashed-line: 2px dashed #eaeaea;