{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Verhuis met een Rhinobox en je wil niet meer zonder</title>
    <meta name="description" content="Rhinoboxen zijn weerbestendig, stapelbaar, stevig, ecologisch verantwoord en ruim. Eens je verhuist met een Rhinobox wil je niet meer zonder verhuizen.">
  {{/replace}}

  {{#replace "main"}}

    <main id="verhuis">

      <section id="hero">
        <div class="inner">
          <h2><em>Verhuis</em>Hoe het werkt</h2>
          <ul>
            <li>
              <h3>1</h3>
              <div class="verhuis-step-1"></div>
              <p>Wij leveren de Rhinoboxen bij u thuis, op een tijdstip dat u uitkomt.</p>
            </li>
            <li>
              <h3>2</h3>
              <div class="verhuis-step-2"></div>
              <p>U vult de Rhinoboxen met uw spullen en u verhuist naar uw nieuwe thuis.</p>
            </li>
            <li>
              <h3>3</h3>
              <div class="verhuis-step-3"></div>
              <p>Zodra u klaar bent halen wij de lege dozen weer op.</p>
            </li>
          </ul>
        </div>
      </section>

      <section id="feature">
        <div class="inner">

        </div>
      </section>

      <section id="prijzen">
        <div class="inner">

        </div>
      </section>

    </main>

  {{/replace}}
{{/extend}}
