{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Verhuis met een Rhinobox en je wil niet meer zonder</title>
    <meta name="description" content="Rhinoboxen zijn weerbestendig, stapelbaar, stevig, ecologisch verantwoord en ruim. Eens je verhuist met een Rhinobox wil je niet meer zonder verhuizen.">
  {{/replace}}

  {{#replace "main"}}

    <main id="verhuis">

      <section id="hero">
        <div class="inner">
          <h2><em>Verhuis</em>Hoe het werkt</h2>
          <ul>
            <li>
              <h3>1</h3>
              <div class="verhuis-step-1"></div>
              <p>Wij leveren de Rhinoboxen bij u thuis, op een tijdstip dat u uitkomt.</p>
            </li>
            <li>
              <h3>2</h3>
              <div class="verhuis-step-2"></div>
              <p>U vult de Rhinoboxen met uw spullen en u verhuist naar uw nieuwe thuis.</p>
            </li>
            <li>
              <h3>3</h3>
              <div class="verhuis-step-3"></div>
              <p>Zodra u klaar bent halen wij de lege dozen weer op.</p>
            </li>
          </ul>
        </div>
      </section>

      <section id="feature">
        <div class="inner">
          <h2>Geliefd omdat ...</h2>
          <ul class="left">
            <li>
              <img src="../assets/img/verhuis-rhino-3.png" width="250" width="220" alt="">
              <p>Verspil geen tijd aan het gaan kopen, vouwen, plakken en weggooien van karton.<span></span></p>
            </li>
            <li>
              <img src="../assets/img/verhuis-rhino-3.png" width="250" width="220" alt="">
              <p>Rhinoboxen zijn 100% gerecyleerd en herbruikbaar. Geen karton / plakband afval.<span></span></p>
            </li>
            <li>
              <img src="../assets/img/verhuis-rhino-3.png" width="250" width="220" alt="">
              <p>Stapel gerust je zware spullen bovenop je breekbare spullen. Stapelt stabiel tot 4 hoog.<span></span></p>
            </li>
            <li>
              <img src="../assets/img/verhuis-rhino-3.png" width="250" width="220" alt="">
              <p>Extra: Rhinobox kan uw<br>boxen tijdelijk beveiligd<br>opslaan.
              <a href="/opslag" title="Opslag">Zie hoe</a><span></span></p>
            </li>

          </ul>
          <ul class="right">
            <li>
              <img src="../assets/img/verhuis-rhino-2.png" width="250" width="220" alt="">
              <p>Aan huis geleverd<br>en weer afgehaald<span></span></p>
            </li>
            <li>
              <img src="../assets/img/verhuis-rhino-4.png" width="250" width="220" alt="">
              <p>Handig formaat en<br>gewicht voor iedereen.<span></span></p>
            </li>
            <li>
              <img src="../assets/img/verhuis-rhino-1.png" width="250" width="220" alt="">
              <p>Weerbestendig<span></span></p>
            </li>
            <li>
              <img src="../assets/img/verhuis-rhino-1.png" width="250" width="220" alt="">
              <p>Op wieltjes :)<span></span></p>
            </li>
          </ul>
        </div>
      </section>

      <section id="cta">
        <div class="inner">
          <h2>Bereken uw prijs</h2>
        </div>
      </section>

    </main>

  {{/replace}}
{{/extend}}
