<footer>
  <div class="inner">
    <a href="/" title="Rhinobox">
      <img src="/assets/img/rhino.svg" alt="Rhinobox" width="137px" height="74px" onerror="this.onerror=null; this.src='/assets/img/rhino.png'">
    </a>
    <p>&copy; Copyright Rhinobox 2015 - <a href="#">Condities &amp; Voorwaarden</a> - <a href="mailto:info@rhinobox.be" target="_blank">Contacteer ons</a></p>
  </div>
</footer>
