<header>
  <div class="inner">
    <h1>
      <a href="/" title="Rhinobox">
        <img src="/assets/img/rhinobox.svg" alt="Rhinobox" width="197px" height="138px" onerror="this.onerror=null; this.src='/assets/img/rhinobox.png'">
      </a>
    </h1>
    <div class="callout">ideaal voor uw verhuis!</div>
  </div>
</header>
