{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Rhinobox - Verhuisdozen, tijdelijke opslag, handig verhuizen!</title>
    <meta name="description" content="Stevige stapelbare weerbestendige verhuisdozen op wieltjes. Populair bij verhuizingen! Verspil geen karton meer. Maak gebruik van onze beveiligde opslag dienst!">
  {{/replace}}

  {{#replace "main"}}

    <main id="landing">

      <section id="hero">
        <div class="inner">
          <a href="verhuis/#bestel" title="Bestel Rhinobox verhuisdozen" class="button">Bestel</a>
          <img src="assets/img/rhinobox-stack.jpg" srcset="assets/img/rhinobox-stack@2x.jpg 2x" alt="" width="518" height="767">
          <h2>Stevige
          <br>Stapelbare
          <br>waterdichte
          <br>ecologische
          <br>verhuisboxen*
          <span>
            (op wieltjes)
          </span>
        </h2>
        </div>
      </section>

      <section id="feature">
        <div class="bg">
          <img src="assets/img/rhinobox-top-view.jpg" srcset="assets/img/rhinobox-top-view@2x.jpg 2x" alt="" width="887" height="730">
        </div>
        <div class="inner">
          <h2>Met 80L ruimte!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            <br>
            <br>Bodem: 80cm x 40cm
            <br>Hoogte: 50cm
            <br>Volume: 80L
          </p>
        </div>
      </section>

      <section id="hoe-het-werkt">
        <div class="inner">
          <h2><em>Hoe het werkt</em></h2>
          <ul>
            <li>
              <h3>1</h3>
              <div class="verhuis-step-1"></div>
              <p>Wij leveren de Rhinoboxen bij u thuis, op een tijdstip dat u uitkomt.</p>
            </li>
            <li>
              <h3>2</h3>
              <div class="verhuis-step-2"></div>
              <p>U vult de Rhinoboxen met uw spullen en u verhuist naar uw nieuwe thuis.</p>
            </li>
            <li>
              <h3>3</h3>
              <div class="verhuis-step-3"></div>
              <p>Zodra u klaar bent halen wij de lege dozen weer op.</p>
            </li>
          </ul>
        </div>
      </section>

      <section id="verhuis">
        <div class="inner">
          <div class="polaroid">
            <img src="../assets/img/kartonnen-verhuis-dozen.jpg" srcset="../assets/img/kartonnen-verhuis-dozen@2x.jpg 2x" width="250" height="220" alt="stapel ongevouwen kartonnen verhuisdozen">
          </div>
          <div class="polaroid">
            <img src="../assets/img/kartonnen-verhuis-dozen.jpg" srcset="../assets/img/kartonnen-verhuis-dozen@2x.jpg 2x" width="250" height="220" alt="stapel ongevouwen kartonnen verhuisdozen">
          </div>
          <div class="text">
            <h2>Ideaal voor uw verhuis</h2>
            <p>Rhinoboxen zijn populair voor verhuizingen. U hoeft geen karton meer te gaan kopen, vouwen, plakken en weg te gooien. Wij leveren aan huis.</p>
            <a href="/verhuis" title="Verhuis" class="button">Zie hoe het werkt  >>></a>
          </div>
        </div>
      </section>

      <section id="testimonials">
        <div class="inner">
          <ul>
            <li>
              <blockquote>
                "Geweldige service! Aanrader"
                <cite>Sophie Verheyen - Architect, net verhuist</cite>
              </blockquote>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </section>

      <section id="cta">
        <div class="inner">
          <a href="verhuis/#bestel" title="Bestel Rhinobox verhuisdozen" class="button">Bestel<div class="rhino"></div></a>
          <a href="verhuis/#bestel" title="Bestel Rhinobox verhuisdozen" class="button">Bereken uw prijs</a>
          <a href="verhuis/#bestel" title="Bestel Rhinobox verhuisdozen" class="button">Heeft u een vraag?</a>
        </div>
      </section>

    </main>

  {{/replace}}
{{/extend}}
