{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Rhinobox - Verhuisdozen, tijdelijke opslag, handig verhuizen!</title>
    <meta name="description" content="Stevige stapelbare weerbestendige verhuisdozen op wieltjes. Populair bij verhuizingen! Verspil geen karton meer. Maak gebruik van onze beveiligde opslag dienst!">
  {{/replace}}

  {{#replace "main"}}

    <main id="landing">

      <section id="hero">
        <div class="inner">
          <button class="button action-1">BESTEL</button>
          <img src="assets/img/rhinobox-stack.jpg" srcset="assets/img/rhinobox-stack@2x.jpg 2x" alt="" width="518" height="767">
          <h2>
            <span>STEVIGE</span>
            <span>STAPELBARE</span>
            <span>WATERDICHTE</span>
            <span>MILIEUVRIENDELIJKE</span>
            <span>VERHUISDOZEN*</span>
            <span class="small">* op wieltjes</span>
          </h2>
        </div>
      </section>

      <section id="over-rhinoboxen">
        <div class="bg">
          <img src="assets/img/rhinobox-top-view.jpg" srcset="assets/img/rhinobox-top-view@2x.jpg 2x" alt="" width="887" height="730">
        </div>
        <div class="inner">
          <h2>MET 54 LITER RUIMTE!</h2>
          <p>Rhinoboxen zijn stevig, regenbestendig, stapelbaar en hebben een praktisch formaat dat iedereen kan dragen. Rhinoboxen hebben ook 80 liter aan opslagruimte! Dat is genoeg voor 50 boeken, 300 tennisballen, een volle reisvalies aan kleding of
            wellicht het grootste deel van al uw potten en pannen. Rhinoboxen zijn populair voor verhuizingen en tijdelijke opslag.</p>
          <p>Lengte: 60cm
            <br>Breedte: 40cm
            <br>Hoogte: 32cm</p>
          <p>Inhoud: 54 liter (54 * 36 * 28cm)</p>
        </div>
      </section>

      <section id="hoe-het-werkt">
        <div class="inner">
          <h2>HOE HET WERKT</h2>
          <ul>
            <li>
              <h3>1</h3>
              <div class="verhuis-step-1"></div>
              <p>Wij leveren de Rhinoboxen bij u thuis, op een tijdstip dat u uitkomt.</p>
            </li>
            <li>
              <h3>2</h3>
              <div class="verhuis-step-2"></div>
              <p>U vult de Rhinoboxen met uw spullen en u verhuist naar uw nieuwe thuis.</p>
            </li>
            <li>
              <h3>3</h3>
              <div class="verhuis-step-3"></div>
              <p>Zodra u klaar bent halen wij de lege dozen weer op.</p>
            </li>
          </ul>
          <button class="button action-1">Bereken uw prijs</button>
        </div>
      </section>

      <section id="ideaal-voor-verhuis">
        <div class="inner">
          <div class="polaroid one">
            <img src="../assets/img/rhinobox-levering-aan-huis.jpg" srcset="../assets/img/rhinobox-levering-aan-huis@2x.jpg 2x" width="250" height="250" alt="Levering van Rhinobox verhuisdozen">
          </div>
          <div class="polaroid two">
            <img src="../assets/img/rhinobox-verhuisdozen-aan-huis.jpg" srcset="../assets/img/rhinobox-verhuisdozen-aan-huis@2x.jpg 2x" width="250" height="250" alt="Rhinobox verhuisdoos levering">
          </div>
          <div class="text">
            <h2>POPULAIR BIJ
              <br>VERHUIZINGEN</h2>
            <p>Stapel gerust breekbare spullen onderaan zware spullen. Rhinoboxen zijn ongelofelijk stevig. Maakt u zich tijdens de verhuis ook geen zorgen over het weer, de dozen zijn regenbestendig.</p>
            <p>De dozen zijn ontworpen zodat iedereen, ongeacht grootte of kracht, de dozen eenvoudig kan verplaatsen. De dozen stapelen stabiel tot 6 dozen hoog en bij iedere levering leveren wij ook een platform met wieltjes.</p>
            <p>U bestelt Rhinoboxen online 24/7 en wij leveren wanneer het u uitkomt. Wij streven naar snelle klantvriendelijke leveringen.</p>
          </div>
        </div>
      </section>

      <section id="geen-karton-meer">
        <div class="inner">
          <div class="polaroid">
            <img src="../assets/img/kartonnen-verhuis-dozen.jpg" srcset="../assets/img/kartonnen-verhuis-dozen@2x.jpg 2x" width="250" height="250" alt="stapel ongevouwen kartonnen verhuisdozen">
          </div>
          <div class="text">
            <h2>GEEN KARTON MEER! : )</h2>
            <p>De klassieke kartonnen verhuisdozen moet u eerst gaan kopen, dan vouwen, plakken om ze dan nadien weer weg te gooien. Rhinoboxen daarentegen worden aan huis geleverd en creëeren geen afval!</p>
            <p>Ook, onze dozen zijn gemaakt van 100% gerecycleerd materiaal.</p>
          </div>
        </div>
      </section>

      <section id="testimonials">
        <div class="inner">
          <ul>
            <li>
              <blockquote>Ik werk overdag en kan dan geen leveringen ontvangen. Fijn dat Rhinobox ook ‘s avonds en in het weekend levert!
                <cite>Marie Van Overbeek
                  <br>Oost-Vlaanderen</cite>
                <span></span>
              </blockquote>
            </li>
            <li>
              <blockquote>Ik werk overdag en kan dan geen leveringen ontvangen. Fijn dat Rhinobox ook ‘s avonds en in het weekend levert!
                <cite>Marie Van Overbeek
                  <br>Oost-Vlaanderen</cite>
                <span></span>
              </blockquote>
            </li>
            <li>
              <blockquote>Ik werk overdag en kan dan geen leveringen ontvangen. Fijn dat Rhinobox ook ‘s avonds en in het weekend levert!
                <cite>Marie Van Overbeek
                  <br>Oost-Vlaanderen</cite>
                <span></span>
              </blockquote>
            </li>
            <li>
              <blockquote>Ik werk overdag en kan dan geen leveringen ontvangen. Fijn dat Rhinobox ook ‘s avonds en in het weekend levert!
                <cite>Marie Van Overbeek
                  <br>Oost-Vlaanderen</cite>
                <span></span>
              </blockquote>
            </li>
            <li>
              <blockquote>Ik werk overdag en kan dan geen leveringen ontvangen. Fijn dat Rhinobox ook ‘s avonds en in het weekend levert!
                <cite>Marie Van Overbeek
                  <br>Oost-Vlaanderen</cite>
                <span></span>
              </blockquote>
            </li>
          </ul>
        </div>
      </section>

      <section id="prijs">
        <div class="inner">

          <h2>BEREKEN UW PRIJS</h2>

          <div class="left">

            <div class="parameters">

              <div class="aantal dozen">
                <p>1. Aantal Rhinoboxen</p>
                <div class="field">
                  <button class="prev">&lt;</button>
                  <input type="text" min="1" max="200" value="9">
                  <button class="next">&gt;</button>
                </div>
              </div>

              <div class="aantal dagen">
                <p>2. Aantal dagen</p>
                <div class="field">
                  <button class="prev">&lt;</button>
                  <input type="text" min="1" max="365" value="4">
                  <button class="next">&gt;</button>
                </div>
              </div>

              <div class="postcode levering">
                <p>3. Postcode leveradres</p>
                <div class="field">
                  <input type="text">
                  <div class="result"></div>
                </div>
              </div>

              <div class="postcode ophaling">
                <p>4. Postcode ophaaladres</p>
                <div class="field">
                  <input type="text">
                  <div class="result"></div>
                </div>
              </div>
            </div>

            <div class="preview">
              <div class="box">1</div>
              <div class="box">2</div>
              <div class="box">3</div>
              <div class="box">4</div>
              <div class="box">5</div>
              <div class="box">6</div>
              <div class="box">7</div>
              <div class="box">8</div>
              <div class="box">9</div>
            </div>

          </div>

          <div class="right">
            <ul>
              <li>
                <p class="label">Basisprijs</p>
                <p class="price">&euro; 160</p>
              </li>
              <li>
                <p class="label">Levering</p>
                <p class="price">GRATIS</p>
              </li>
              <li>
                <p class="label">Afhaling</p>
                <p class="price">GRATIS</p>
              </li>
              <li>
                <p class="label">Volumekorting</p>
                <p class="price">-5%</p>
              </li>
              <li>
                <p class="label">Duratiekorting</p>
                <p class="price">-8%</p>
              </li>
              <li>
                <p class="label">Referentiekorting!</p>
                <p class="price">-20%</p>
              </li>
              <li>
                <p class="label">Nieuwe klant!</p>
                <p class="price">-20%</p>
              </li>
              <li>
                <p class="label">Afronding naar onder</p>
                <p class="price">&euro; -0,54</p>
              </li>
              <li>
                <hr>
                <p class="total label">Uw prijs</p>
                <p class="total price">&euro; 36</p>
              </li>
              <li>
                <p class="small label">Inclusief 21% BTW </p>
              </li>
            </ul>
            <a href="verhuis/#bestel" title="Bestel Rhinobox verhuisdozen" class="button">BESTEL NU</a>
          </div>

        </div>
      </section>

    </main>

  {{/replace}}
{{/extend}}